<P><%= @nickname %>さま</P>
<p><%= link_to 'アカウント管理はこちらへ', '/users/edit' %></p>
<%= form_with(url: user_requests_path, method: :post, local: true, multipart: true) do |f| %>
    <%= fields_for :request do |ff| %>
        <%= ff.text_field :name %>
        <%= ff.file_field :image %>
        <%= ff.submit %>
    <% end %> 
<% end %> 



<% @requests.each do |r| %>
<%= r.name %>
  <% if r.image.attached? %>
    <%= r.name %>
    <%= image_tag r.image %>
  <% end %>
<% end %>

