<div class="dl_tag">
    
<ul>    
<% @item.tags.each do |tag| %>
<li class="tag">#<%= tag.adopt_tag %>　</li>
<% end %>
</ul>
            <ul>
            
            
            
            <% unless @item.tag2 == ""%>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag2,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag2, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            
            <% unless @item.tag3 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag3,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag3, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            
            <% unless @item.tag4 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag4,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag4, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            
            <% unless @item.tag5 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag5,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag5, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            <% unless @item.tag6 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag6,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag6, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            <% unless @item.tag7 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag7,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag7, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            <% unless @item.tag8 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag8,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag8, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            <% unless @item.tag9 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag9,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag9, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>

            
            
            <% unless @item.tag10 == "" %>
            <li class="tag">
            <%= form_tag('/items/search', method: :get) do %>
            <%= text_field_tag :search, @item.tag,  class: "hidden-search-field",placeholder: "キーワードを入力"%>
            <%= submit_tag @item.tag10, :name => nil, class: "tag-search-btn2" %>
            <% end %>   
            </li>
            <% else %>
            <li class="tag-hidden"></li>
            <% end %>
            
            </ul>
</div>