<div class="select-row">
            <ul>
                
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "美人",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#美人', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "イケメン",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#イケメン', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>                
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "ポジティブ",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#ポジティブ', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "ショートカット",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '＃ショートカット', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li> 
                
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "もうダメだ",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#もうダメだ', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "なごむ",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#なごむ', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>                 
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "グッジョブ",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#グッジョブ', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "リラックス",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#リラックス', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>                
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "まだ？",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#まだ？', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "誘惑",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#誘惑', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li> 
                
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "レストラン",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#レストラン', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>
                
                <li>
                    <%= form_tag('/items/search', method: :get) do %>
                    <%= text_field_tag :search, "中二",  class: "hidden-search-field",placeholder: "キーワードを入力"%>
                    <%= submit_tag '#中二', :name => nil, class: "tag-search-btn" %>
                     <% end %>   
                </li>                                 
                
            </ul>            
        <!--</div>        -->
</div>