<%= form_for @item, url: "tag_addition" do |f| %>

        <%= fields_for :tags do |f| %>
        <%= f.text_field :adopt_tag %>
        <% end %>
        
<%= f.submit %>
<% end %>

<h4>適用タグ一覧<br/></h4>
<div class="adopt_tag_list">
  <% @item.tags.each do |tag| %>
    <div>
        <p>
              [<%= link_to tag.adopt_tag, "/tags/#{tag.id}", method: :delete, data: { confirm: "削除しますか？" } %>
              <%= tag.id %>]&nbsp;&nbsp;
              
        </p>
    </div>
  <% end %>
</div>

<h4>提案タグ一覧</h4>
 <div class="suggest_tag_list">
 <% @item.suggests.each do |suggests| %>
   <div>
     <p>#<%= suggests.suggest_tag %>　</p>
   </div>
 <% end %>
</div>

<%= link_to "showへ","/items/#{@item.id}/pre_show", method: :get %>


