<h2 class="nf-message">
  Sorry...
</h2>

<div class="nf-kage"><%= image_tag '４落ち込む男' %></div>

<div class="nf-note">
<h3>見つかりませんでした・・・</h3>


</div>
<div class="search-area">
   
        <%= form_tag('/items/search', method: :get, class: "lets-search") do %>
        <!--ここを'/posts/search'にしておくことでページ遷移させて、検索結果を表示させる-->
        <%= text_field_tag :search, "", class: "search-field", placeholder: "キーワードを入力"%>
        <%= submit_tag '検索する', :name => nil, class: "search-btn" %>
        <% end %>      
</div>

<div class="to-top">
  <%= link_to 'トップに戻る', '/' %>
</div>


<p class="plz-request">よろしければ、下記よりリクエストください！</p>

