<%= render partial: "search-area" %>      

<%= render partial: "tags" %>      



                <div class="items-list">
                    
                
                
                <% @searched_items.each do |item| %>
                    <div class="item">
                        <%= link_to image_tag(item.cr_item), "/items/#{item.id}/pre_show" %>
                         <%= link_to item.title, "/items/#{item.id}/", method: :get %>
                    </div>
                    <% end %>
                </div>
                <%= render partial: "bottom" %>
                <%= paginate @searched_items %>

