<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="load-twitter-share-button" data-size="large" data-text="カゲローラボで見つけた！【<%= @item.title %>】|" data-via="kage_raw_lab" data-hashtags="カゲローラボ" data-related="" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
<!--↑でスクリプトを最初に読み込ませることで、シェボタンが間違いなく表示されるようにする-->

<div class="search-area">
   
        <%= form_tag('/items/search', method: :get, class: "lets-search") do %>
        <!--ここを'/posts/search'にしておくことでページ遷移させて、検索結果を表示させる-->
        <%= text_field_tag :search, "", class: "search-field", placeholder: "キーワードを入力"%>
        <%= submit_tag '検索する', :name => nil, class: "search-btn" %>
        <% end %>      
</div>
    


<%= render partial: "tags"%>



<div class="content">    
    
        <div class="dl_item">
            <%= image_tag @item.cr_item %>
        </div>
        
        <div class="detail-cover">

        <div class="detail">
            <div class="dl_title">
                <h3><%=@item.title%></h3>
            </div>
           
            <%= render partial: "10tags"%>
           
            　　<div class="maketag-area">
            　　　　<p>このシルエットのタグを考えて投稿すると、ダウンロード可能！</p>
            　　　　<div class="down-arrow"><i class="fas fa-angle-double-down"></i></div>
            　　      <%= form_for @item,  url:'maketag' , html: {method: 'patch'} do |f| %>
                    
                    <div class="alert-message"><%=   flash[:hoge]  %></div>
                    <%= f.text_field :suggest, :value => "", :placeholder => "            ぴったりのタグは.....", :class => "maketag-form"   %>
                    <!--ここにhidden-field-->
                    <%= f.submit '送信', :class => "maketag-btn" %>
                    <% end %>                    
 
                </div> 

                
            <!--<div class="dl_info">-->
 
            <!--</div>-->
            
            <div class="share">
                <h3>気に入ったシルエットは、ツイートして頂けると嬉しいです！</h3>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="カゲローラボで見つけた！【<%= @item.title %>】|" data-via="kage_raw_lab" data-hashtags="カゲローラボ" data-related="" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
                
            </div>
        
        </div>
</div>
<h5 class="plz-request">よろしければ、ページ下部よりリクエストください！</h5>